.post-card-column-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;


  .post-card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .post-card-wrapper {
      margin-bottom: 10px;
    }

    .more-post-card-button {
      height: 40px;
      font-weight: 500;
      font-size: 15px;
      background-color: var(--button-background-color);//색깔:MORE버튼 배경
      color: var(--tab-hover-text-color);//색깔:MORE 글자색
    }
  }
}